
{%extends "base/base_sekretariat.html" %}

{% block content %}
<br>			
{% if food_list %}
					<br><br><br>
					<div class="row">
					<div class="col-md-12">
					<div class="table-responsive">
					<center><h1>Ubah Menu Makanan</h1>
					{{notifikasi}}
					</center>
					<form action='/view/food/updatesave/' method='POST'> {% csrf_token %}
						<table class="table">
							{% for f in food_list %}
							<tr>
								<td>Restoran:</td>
								<td>
									{% if restoran_list %}
									<select name="restoran">
										{% for x in restoran_list %}
							  			<option value='{{x.id}}' {% if restoran %} selected="{{x.restoran}}"{% endif %}>
							  			{{x.nama_restoran}}</option>
							  			{%  endfor %}
									</select>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>Nama Makanan:</td>
								<td>
									<input type="text" name="nama_makanan" value="{{f.nama_makanan}}">
								<td>
							</tr>
						</table>
						<center>
						<button type='submit' class="btn btn-primary" onclick="return confirm('Apakah Anda yakin?')" name="simpan" value="{{f.id}}">Simpan</button> {% endfor %}	
						</form>
						<br>
						<form action='/view/manage/food/' method=''> {% csrf_token %}<button type='submit' class="btn btn-default" name="batal" value="batal">Batal</button>
						</form>
						</center>
				

{% endif %}
{% endblock %}
